---
import {useEffect} from "react";
import Glider from "glider-js";
import "glider-js/glider.min.css";

const Carousel = ({images, videos}) => {
  useEffect(() => {
    new Glider(document.querySelector(".glider"), {
      slidesToShow: 1,
      dots: "#dots",
      arrows: {
        prev: ".glider-prev",
        next: ".glider-next",
      },
    });
  }, []);

  return (
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <div class="glider">
        {images.map((image) => (
          <div>
            <img
              alt="project_image"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        ))}
        {videos.map((video) => (
          <div>
            <iframe
              width="100%"
              height="315"
              src={video}
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            />
          </div>
        ))}
      </div>
      <button class="glider-prev">«</button>
      <button class="glider-next">»</button>
      <div id="dots" />
    </div>
  );
};

export default Carousel;
---
